<div class="sidebar bg-light vh-100">
  <ul class="nav flex-column p-3">
    <li class="nav-item mb-3">
      <a class="nav-link active text-dark" href="#">Tableau de bord</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#">Cohortes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#">Départements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#">Historiques</a>
    </li>
    <li class="nav-item mt-auto">
      <a class="nav-link text-danger" href="#">Déconnexion</a>
    </li>
  </ul>
</div>
