/* Style pour centrer le conteneur parent */
.center-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 50vh; /* Prend toute la hauteur de la fenêtre */
    padding: 0 20px; /* Ajoute un padding pour éviter que le contenu touche les bords de la fenêtre */
  }
  
  /* Style pour le composant de paramètres */
  .settings-container {
    max-width: 1200px; /* Augmentez cette valeur pour définir une nouvelle largeur maximale */
    width: 100%; /* Prend toute la largeur disponible jusqu'à la valeur maximale définie */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .settings-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group select,
  .form-group input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style pour le side-nav */
  app-side-nav {
    margin-right: 20px; /* Espace entre le side-nav et le contenu des paramètres */
  }