.change-password-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.change-password-container h2 {
  color: #333;
}

.change-password-container .form-label {
  font-weight: bold;
}

.change-password-container .form-control {
  border-radius: 5px;
}

.change-password-container .btn {
  background-color: rgba(89, 50, 234, 1);
  color: white;
  border: none;
  border-radius: 20px;
}

.change-password-container .btn:hover {
  background-color: #5a32a1;
}

.error {
  color: red;
  font-size: 0.875em;
}
