<app-header-and-sidebar></app-header-and-sidebar>

<div class="container">
  <h2>Modifier les informations de l'employé</h2>
  <div *ngIf="employe" class="employe-details__info">
    <div class="form-group">
      <label class="employe-details__label">Matricule:</label>
      <input type="text" class="form-control" [(ngModel)]="employe.matricule" readonly />
    </div>
    <div class="form-group">
      <label class="employe-details__label">Nom:</label>
      <input type="text" class="form-control" [(ngModel)]="employe.nom" />
    </div>
    <div class="form-group">
      <label class="employe-details__label">Prénom:</label>
      <input type="text" class="form-control" [(ngModel)]="employe.prenom" />
    </div>
    <div class="form-group">
      <label class="employe-details__label">Téléphone:</label>
      <input type="text" class="form-control" [(ngModel)]="employe.telephone" />
    </div>
    <div class="form-group">
      <label class="employe-details__label">Adresse:</label>
      <input type="text" class="form-control" [(ngModel)]="employe.adresse" />
    </div>
    <div class="form-group">
      <label class="employe-details__label">Rôle:</label>
      <input type="text" class="form-control" [(ngModel)]="employe.role" />
    </div>
    <button class="btn btn-primary" (click)="updateEmploye()">Enregistrer les modifications</button>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>