<div>
    <h2>Mot de passe</h2>
    <p>Veuillez saisir votre email de connexion afin de recevoir le lien de réinitialisation de votre mot de passe</p>
    <form (ngSubmit)="onSubmit()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Entrez votre email" required>
      <button type="submit">Recevoir le lien</button>
    </form>
    
    <!-- Affichage des messages -->
    <p *ngIf="message" class="success-message">{{ message }}</p>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  
    <a href="http://localhost:4200">Retour à la page de connexion</a>
  </div>
  