<div class="row">
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5>Nombre total d'employés</h5>
        <h2>{{ totalEmployes }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5>Nombre total de départements</h5>
        <h2>{{ totalDepartements }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5>Nombre total d'apprenants</h5>
        <h2>{{ totalApprenants }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5>Nombre total de cohortes</h5>
        <h2>{{ totalCohortes }}</h2>
      </div>
    </div>
  </div>
</div>
